{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        {% if players|default(false) %}
            <div class="col">
                {# <button type="button" class="btn btn-success" id="spin-the-wheel">{{ 'Spin the wheel'|trans }}</button> #}

                <div id="wheel-wrapper">
                    <div id="wheel-base"></div>
                    <div id="pointer" class="spin-the-wheel"></div>
                    <canvas id='wheel'></canvas>
                </div>

                <div id="winModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ messages.the_winner_is|default('The winner is')|trans }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
                            </div>
                            <div class="modal-body">
                                <p id="winner-name"></p>
                            </div>
                            <div class="modal-footer">
                                {{ form_start(form) }}
                                    {{ form_widget(form.submit, {
                                        label: 'Nå',
                                        attr: {
                                            class: 'btn btn-submit'
                                        }
                                        }) }}
                                    <div style="display: none">{{ form_rest(form) }}</div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning">{{ 'Game over'|trans }}</div>
        {% endif %}

        {% if wins_today|default(false) %}
            <div class="col">
                <section id="wins-today">
                    <header>
                        <h1>{{ messages.wins_today|default('Wins today')|trans }}</h1>
                    </header>

                    <ol class="list-unstyled">
                        {% for win in wins_today %}
                            <li>{{ win.player.name }}</li>
                        {% endfor %}
                    </ol>
                </section>
            </div>
        {% endif %}

        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" id="refresh">{{ 'Refresh'|trans }}</a>
        <button id="play-music">{{ 'Play music'|trans }}</button>

        {% set grand_prize_url = path('play_play', {all: null == app.request.get('all') ? 'Mikkel' : true}) %}
        <a style="display: none" id="grand-prize" href="{{ grand_prize_url }}">{{ 'Santa Claus'|trans }}</a>

        <a id="not-by-ai" href="https://notbyai.fyi/">
            <img src="{{ asset('build/images/Produced-By-Human-Not-By-AI-Badge-white.svg') }}" alt="{{ 'Not By AI'|trans }}"/>
        </a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('play') }}
{% endblock %}

{% block javascripts %}
    {# @see https://www.schemecolor.com/christmas-hex-color-codes.php #}
    {% set colors = [
        'rgb(255,   0,   0, .7)',
        'rgb(255, 120, 120, .7)',
        'rgb(255, 255, 255, .7)',
        'rgb(116, 214, 128, .7)',
        'rgb( 55, 139,  41, .7)',
        ] %}
    {% if players|default(false) %}
        {% set segments = players|map(p => {text: p.name, id: p.id}) %}
        {% set winwheel_settings = {
            options: {
                segments: segments,
                lineWidth: 3
            },
            colors: colors
            } %}
        <script>
            var play_options = {{ play_options|json_encode|raw }}
            var winwheel_settings = {{ winwheel_settings|json_encode|raw }}
        </script>
        {{ encore_entry_script_tags('play') }}
    {% endif %}
{% endblock %}
